<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

<div class="create-blog content">

    <h1>Create Blog</h1>

    <div>
        <h2><%= blog.title %></h2>
        <p><%= blog.snippet %></p>
        <p><%= blog.body %></p>
        <button id="delete-button" data-doc="<%= blog._id %>">Delete</button>
    </div>

</div>

<%- include('./partials/footer.ejs') %>

<script>
    const trashcan = document.getElementById("delete-button");

    trashcan.addEventListener('click', function (e) {
        const endpoint = `/blog/${trashcan.dataset.doc}`;
        fetch(endpoint, {
            method: 'DELETE',
        })
            .then((response) => {
                return response.json()
            })
            .then((data) => {
                window.location.href = data.redirect;
            })
            .catch((error) => {

            });
    });
</script>

</body>
</html>